@font-face {
    font-family: Starjedi;
    src: url('Star_wars_fonts/starjedi/Starjedi.ttf');
}
@font-face {
    font-family: Starjhol;
    src: url('Star_wars_fonts/starjedi/Starjhol.ttf');
}
@font-face {
    font-family: Stjldbl1;
    src: url('Star_wars_fonts/starjedi/Stjldbl1.ttf');
}
@font-face {
    font-family: Stjldbl2;
    src: url('Star_wars_fonts/starjedi/Stjldbl2.ttf');
}
@font-face {
    font-family: Strjmono;
    src: url('Star_wars_fonts/starjedi/Strjmono.ttf');
}
@font-face {
    font-family: starv___;
    src: url('Star_wars_fonts/starvader/starv___.ttf');
}
@font-face {
    font-family: EPISODE1;
    src: url('Star_wars_fonts/phantommenace/EPISODE1.TTF');
}