#container {
    background: #660066;
    line-height: 20px;

    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    text-align: justify;
    box-sizing: border-box;
}

#header, #container, #footer {
    width: 100%;
    background: #660066;
    background: -moz-linear-gradient(left, #333366, #663333); /* FF3.6+ */
    background: -webkit-linear-gradient(left, #333366, #663333); /* Chrome 10+, Safari 5.1+ */
    background: -o-linear-gradient(left, #333366, #663333); /* Opera 12 */
    background: -ms-linear-gradient(left, #333366, #663333); /* IE10 */
    background: linear-gradient(left, #333366, #663333); /* CSS3*/
}

#header-l {
    background: url(../img/hatL.png) no-repeat left;
    background-size: 200px 252px;
    width: 50%;
    float: left;
}

#header-cl {
    background: url(../img/hatCL.png) no-repeat right;
}

#header-cr {
    background: url(../img/hatCR.png) no-repeat left;
}

#header-r {
    background: url(../img/hatR.png) no-repeat right;
    background-size: 200px 252px;
    width: 50%;
    float: right;
}

#header, #header-l, #header-cl, #header-cr, #header-r {
    height: 252px;
}

#footer {
    height: 200px;
    width: 100%;
    overflow: hidden;
}

h1 {
    margin: 10px 0;
}

#menu ul {
    display: inline-block;
    height: 100%;
    margin: 20px 40%;
}

#menu li {
    display: inline-block;
    text-transform: uppercase;
    list-style-type: none;
    padding-right: 20px;
    margin: 10px;
    line-height: 20px;
}

#content {
    margin-right: 5px;
}

#right-column {
    margin-left: 5px;
}